* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.divChan {
  width: 80%;
  height: 20px;
  background-color: red;
  color: white;
}
.divLe {
  width: 80%;
  height: 20px;
  background-color: blue;
  color: white;
}
