* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.exercise__1 {
  background-color: rgba(128, 128, 128, 0.2);
}
.exercise__3 {
  background-color: rgba(128, 128, 128, 0.2);
}
.exercise__5 {
  background-color: rgba(128, 128, 128, 0.2);
}
