* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-exercire {
  text-align: center;
  color: #07a053;
  font-size: 100px;
}
#result {
  width: 40%;
  height: 50px;
  background-color: antiquewhite;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
}
.result {
  width: 40%;
  height: 50px;
  background-color: antiquewhite;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
}
